# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
# DB_HOST=vendo-stage.cfzvmcilmyox.us-east-2.rds.amazonaws.com
# DB_USER=admin
# DB_PASSWORD=vF15obgNAXZxfkfJ9NPi
# DB_PORT=3407
# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
# DB_HOST=localhost
# DB_USER=root
# DB_PASSWORD=password
# DB_PORT=3306
DB_HOST=vendo-stage.cfzvmcilmyox.us-east-2.rds.amazonaws.com
DB_SLAVE_HOST=prod-read.cfzvmcilmyox.us-east-2.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=vF15obgNAXZxfkfJ9NPi
DB_PORT=3407
MAIN_DB=vendo_commerce
DATABASE_URL=mysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/
DATABASE_VENDO_URL=${DATABASE_URL}vendo
DATABASE_SLAVE_URL=mysql://${DB_USER}:${DB_PASSWORD}@${DB_SLAVE_HOST}:${DB_PORT}/
DATABASE_VENDO_COMMERCE_URL=${DATABASE_URL}vendo_commerce
DATABASE_VENDO_BRAND_URL=${DATABASE_URL}vendo_user_db_WwhldEhqRr_meetalleyoopvendocommercecom
WITH_CRON=0
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=ivoo78768IWJFEfgwBROEW
AWS_ACCESS_KEY=AKIAY37UQGI6TYY7F3PJ
AWS_SECRET_KEY=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
AWS_ROLE_ARN=arn:aws:iam::609861251645:role/SellingPartnerAPI
ADS_CLIENT_ID=amzn1.application-oa2-client.8469d1ab7e664bc6a10d806b64cbe8fc
ADS_CLIENT_SECRET=a003d8b1dd25dc755f83ab3dd1d768c7159ff36c9e768efe4d467c43af75dee1
# sendgrid
FRONTEND_URL=https://staging.velocityportal.com
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USER=apikey
MAIL_PASSWORD=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
MAIL_FROM=noreply@velocityportal.com

# walmart
WALMART_DJANGO_APIKEY=tV222bMsA-Rt7zWbTF3LIG6MgDIQjgvjHFOtTIy9e8Sn_5IgkQnIKgf_RtTzN2PQXEey0zWpd4SdRIk2G4mSlAWwq-N4ol5LkY-iXnaH7Qg-RCLIGuXQVW4URAawdpTPdnICy3K2PR9-et-1_8Olq7fqCYnJH_hr-5yEtMvWjqKrLX21pe2_HMn5eKkKGnUiHsYsgN7zzVTUnx_NnsheULDJ37Zp2EOcPQNZrofdTz_coBD-TTC1WZoz3Y7sOnleOjKxcQJuqcg8rAhJZFuU-DFUwzk6ZbDwDAaEzju9ZlLrC3wAki2MrfFP9umlWE0l_R5XsIocgbHoELJspGKQQQ
WALMART_SANDBOX_ADVERTISER_ID=16355382
WALMART_SANDBOX_BRAND_ID=249
WALMART_PRODUCTION_DJANGO_BASE_URL=http://3.18.240.181:8080
WALMART_SANDBOX_DJANGO_BASE_URL=http://3.18.240.181:8000

SELLER_NAME="Vendo Commerce"
NA_CLIENT_ID=amzn1.application-oa2-client.bc5f64fcb76a4340b143b774c88f7702
NA_CLIENT_SECRET=amzn1.oa2-cs.v1.f419d4969d3bdf00e6c7d2427fc72a1040c42bd52fd6e0a6fc0cf21d3e1bfe05
EU_CLIENT_ID=amzn1.application-oa2-client.948456ca3dff4886a24441b54a11b214
EU_CLIENT_SECRET=amzn1.oa2-cs.v1.9b530a7b42dd0056ad8071bc308a5b97c23389cab2a80d9e7bf97aa56a54902e
PRIVATE_KEY=YourActualPrivateKeyHere

# Swagger user
SWAGGER_USER=user
SWAGGER_PASSWORD=password